@import "tailwindcss";

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }

  .animate-out {
    animation-fill-mode: both;
  }

  .slide-in-from-top {
    animation-name: slideInFromTop;
  }

  .duration-300 {
    animation-duration: 300ms;
  }
  .slide-out-top {
    animation-name: slideOutToTop;
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideOutToTop {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-1rem);
  }
}
